h2,
h3 {
  text-align: center;
}

input,
button {
  border: 2px solid black;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

button {
  cursor: pointer;
  background-color: #fff;
  font-weight: bold;
  transition: 0.3s;
  margin: 0.15rem;
  color: #000;
}

button:hover,
.filter-active {
  color: #fff;
  background-color: #000;
}

.error {
  color: red;
  font-weight: bold;
  text-align: center;
}

section {
  margin: 1rem auto;
  width: fit-content;
  border: 5px #ccc dashed;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  min-height: 400px;
}

.app-footer {
  background-color: #fff;
  border: 1px solid #000;
}

.app {
  display: grid;
  grid-template-rows: auto auto 1fr auto auto;
  min-height: 350px;
}

.app-input {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem 0.5rem;
}

ul,
li {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 0.8rem;
}

li {
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  padding: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.strikethrough {
  text-decoration: line-through; 
}

.add-item-text {
  margin-bottom: 0.5rem;
  border: none;
  justify-content: center;
}

#items-found {
  color: #000;
  font-size: 0.7rem;
}