h2,
h3 {
  text-align: center;
}

input,
button {
  border: 2px solid black;
  margin-top: 0.25rem;
  padding: 0.5rem 1rem;
}

button {
  cursor: pointer;
  background-color: #fff;
  font-weight: bold;
  transition: 0.3s;
  margin: 0.15rem;
}

button:hover {
  color: #fff;
  background-color: #000;
}

.error {
  color: red;
  font-weight: bold;
}

section {
  margin: 0 auto;
  width: fit-content;
  border: 5px #ccc dashed;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  min-height: 400px;
}

.app-footer {
  background-color: #fff;
}

.app {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  min-height: 350px;
}

.app-input input {
  width: 60%;
}

.app-input {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

ul,
li {
  padding: 0;
  margin: 0;
}